/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
    /* COLORS */
        /* PRIMARY */
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
        /* SECONDARY */
    --red: hsl(0, 87%, 67%);
        /* NEUTRAL */
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
        /* FONT */
    --font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-family);
    height: 100vh;
}

/* HEADER STYLES */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#logo {
    margin-left: 10px;
}


    /* MOBILE NAV BARS */
#nav-bars {
    margin-right: 10px;
}

.bar {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: var(--grayish-violet);
    width: 26px;
    height: 3px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

    /* NAV BARS - MENU OPEN */
.open:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.open:nth-child(2) {
    opacity: 0;
}

.open:nth-child(3) {
    transform: translateY(-6px) rotate(45deg);
}

/* DROP DOWN MENU - NAV */
#drop-down-menu {
    position: absolute;
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 340px;
    width: 94%;
    background-color: var(--dark-violet);
    margin-left: 50%;
    transform: translate(-50%);
    border: none;
    border-radius: 24px;
}

#nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.nav-link {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    list-style: none;
}

#btn-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#login-btn {
    font-weight: 700;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    background: none;
    border: none;
}

#divider {
    height: 2px;
    width: 90%;
    background-color: var(--cyan);
}

#sign-up-btn {
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
    letter-spacing: 1.2px;
    width: 80%;
    padding: 16px 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--cyan);
    border: none;
    border-radius: 30px;
}

/* NAV - FULL */
#nav-links-full {
    color: var(--cyan);
    display: none;
    column-gap: 16px;
    list-style: none;
    margin-left: -120px;
}

#btn-options-full {
    display: none;
}

#login-full {
    color: var(--cyan);
    font-weight: 700;
    margin-right: 16px;
    background: none;
    border: none;
}

#sign-up-full {
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    background-color: var(--cyan);
    border: none;
    border-radius: 30px;
}

/* HERO SECTION */
#hero-section {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    overflow: hidden;
}


#hero-img {
    width: 480px;
    margin-top: 10px;
}

#hero-content {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    align-items: center;
}

#hero-title {
    font-size: 2.5rem;
    text-align: center;
    line-height: 48px;
}

#hero-para {
    color: var(--grayish-violet);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

#get-started-btn {
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    padding: 18px 36px;
    border: none;
    border-radius: 30px;
    background-color: var(--cyan);
    cursor: pointer;
}

/* ABOUT SECTION / SHORTEN COMPONENT */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: lightcyan;
}

#about-header-container {
    margin-top: 40px;
}

#about-header-container h3 {
    text-align: center;
    font-size: 1.6rem;
}

#about-header-container p {
    color: var(--grayish-violet);
    text-align: center;
}

    /* INFO CARDS */
#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    margin-top: 80px;
    padding-bottom: 80px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    z-index: 10;
}

.card-img-container {
    display: flex;
    place-content: center;
    margin-top: -50px;
    padding: 24px;
    border-radius: 50%;
    background-color: var(--dark-violet);
    z-index: 10;
}

.card h3 {
    padding: 10px;
}

.card p {
    padding: 10px;
    text-align: center;
}

.card-bar {
    position: absolute;
    margin-top: -80px;
    height: 100px;
    width: 8px;
    background-color: var(--cyan);
    z-index: -1;
}

.card-bar-desktop {
    display: none;
}

    /* SHORTEN COMPONENT */
#form-container {
    margin-top: -50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 80%;
    max-width: 1050px;
    background-color: var(--dark-violet);
    background-image: url(./images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--cyan);
    border-radius: 10px;
}

#shorten-input {
    width: 80%;
    height: 40px;
    border: 1px solid var(--cyan);
    border-radius: 10px;
}

#shorten-input::placeholder {
    padding: 10px;
}

#shorten-submit-btn {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    height: 40px;
    width: 80%;
    background-color: var(--cyan);
    border-radius: 10px;
    background-color: var(--cyan);
    cursor: pointer;
}

/* SHORTEN URL LIST COMPONENT */
#shorten-url-list-container {
    width: 80%;
    max-width: 1050px;
}

#url-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style: none;
}

.url-list-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    height: 160px;
    border-radius: 10px;
}

.shorten-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inital-link-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--gray);
    width: 100%;
}

.full-link {
    text-decoration: none;
    color: var(--very-dark-violet);
    padding: 10px;
}

.shorten-link-container {
    padding: 10px;
}

.shorten-link {
    padding: 10px;
    text-decoration: none;
    color: var(--cyan);
}

.copy-btn {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    width: 80%;
    padding: 10px 40px;
    border: none;
    background-color: var(--cyan);
    border-radius: 10px;
    cursor: pointer;
}

/* GET STARTED SECTION */
#get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: var(--dark-violet);
    background-image: url(./images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

#get-started h2 {
    color: white;
    font-weight: 800;
    text-align: center;
    width: 100%;
}

#get-started button {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    border: none;
    background-color: var(--cyan);
    width: 180px;
    height: 50px;
    border-radius: 30px
}

/* MEDIA QUERIES */
@media screen and (max-width: 375px) {

    #hero-img {
        width: 480px;
        margin-left: 30px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 490px) {

    #hero-section {
        align-items: center;
    }
   
}


@media screen and (min-width: 768px) {
    #nav-bars {
        display: none;
    }

    #nav-links-full {
        display: flex;
        column-gap: 16px;
        list-style: none;
        margin-left: -180px;
    }

    #btn-options-full {
        display: flex;
        column-gap: 10px;
        margin-right: 50px;
        display: block;
    }

    /* SHORTEN COMPONENT FORM */
    #form-container {
        flex-direction: row;
    }

    #shorten-input {
        width: 60%;
    }

    #shorten-submit-btn {
        width: 30%;
    }

    /* SHORTEN UL */
    .url-list-item {
        height: 80px;
        flex-wrap: nowrap;
    }
    
    .shorten-link-container {
        flex-direction: row;
    }
    
    .inital-link-container {
        justify-content: start;
        border-bottom: none;
    }
    
    .full-link {
        margin-left: 20px;
    }
    
    .shorten-link-container {
        padding: 0px;
    }
    
    
    .copy-btn {
        width: 40%;
    }

    /* GET STARTED */
    #get-started {
        background-image: url(./images/bg-boost-desktop.svg);
    }


}

@media screen and (min-width: 1050px) {

    /* INFO CARDS */
#cards-container {
    flex-direction: row;
    justify-content: space-around;
    column-gap: 20px;
}

.card {
   width: 338px;
   height: 280px;
}

.card-img-container {
   margin-left: -180px;
}

.card-bar {
    display: none;
}

.card-bar-desktop {
    display: block;
    width: 20px;
    height: 8px;
    margin-top: -50px;
    margin-left: 360px;
    background-color: var(--cyan);
}

.bar-dk-2 {
    margin-top: -110px;
}

.card-two {
    margin-top: 80px;
}

.card-three {
    margin-top: 160px;
}

}